*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}