@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login-container {
    display: block;
    margin: 150px 380px 0 370px;
    box-shadow: 0 0 30px #088da5;
    width: 50%;
    position: relative;
}
.login-container .nav {
    display: block;
    text-align: center;
    padding: 30px;
    background-color: #e8d7ba;
}
.nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #191970;
    cursor: pointer;
}
.nav a:hover {
    color: white;
}
.login-container .myform {
    position: relative;
    background: #b5a79b;
    padding: 30px 0 30px 0;
    text-align: center;
    width: 100%;
}
.myform label {
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #191970;
}
.myform input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;    
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.myform input[type=email]:hover {
    box-shadow: 0 0 20px #0394fc;
}
.myform input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;    
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.myform input[type=password]:hover {
    box-shadow: 0 0 20px #0394fc;
}
.myform input[type=submit] {
    left: 240px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #4166f5;
    color: white;
    border: none;    
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.myform input[type=submit]:hover {
    color: yellow;
    background-color: #42f58a;
    box-shadow: 0 0 20px #4290f5;
}
/*Registration CSS*/
.registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg-text-box {
    border-radius: 20px;
    margin: 80px 300px 0 400px;
    background-color: #e8d7ba;
    height: 450px;
    display: block;
    width: 600px;
    box-shadow: 0 0 10px #088da5;
    height: 480px;
    padding: 30px 0;
    text-align: center;
}
.reg-text-box a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: inline-block;
    color: black;
    padding: 0 10px;
}
.reg-text-box a:hover {
    color: white;
}
/*registration input*/
.email-box {
    display: inline-block;
    position: relative;
}
.email-box .input-email {
    position: absolute;
    left: 450px;
    bottom: 380px;
    padding: 5px;
    display: block;
}
.email-box .input-email [for=email]{
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif Poppins;
    font-size: 30px;
}
.input-email input[type=email] {
    position: absolute;
    left: 50px;
    width: 300px;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
}
.input-email input[type=email]:focus{ 
    outline-color: white;
}