@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login-container {
    display: block;
    margin: 150px 380px 0 370px;
    box-shadow: 0 0 10px #088da5;
    width: 50%;
    position: relative;
}
.login-container .nav {
    display: block;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: none;
}
.nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #191970;
    cursor: pointer;
}
.nav a:hover {
    color: white;
}
.login-container .myform {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    position: relative;
    background: transparent;
    padding: 30px 0 30px 0;
    text-align: center;
    width: 100%;
}
.myform label {
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #191970;
}
.myform input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;    
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.myform input[type=email]:hover {
    box-shadow: 0 0 20px #0394fc;
}
.myform input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;    
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.myform input[type=password]:hover {
    box-shadow: 0 0 20px #0394fc;
}
.myform input[type=submit] {
    left: 240px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #4166f5;
    color: white;
    border: none;    
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.myform input[type=submit]:hover {
    color: yellow;
    background-color: #42f58a;
    box-shadow: 0 0 20px #4290f5;
}
/*Registration CSS*/
.registration-container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg-text-box {
    border-radius: 20px;
    margin: 90px 300px 0 400px;
    background: transparent;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    height: 450px;
    display: block;
    width: 600px;
    box-shadow: 0 0 10px #6499a4;
    height: 480px;
    padding: 40px 0 0 0;
    text-align: center;
}
.reg-text-box a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: inline-block;
    font-style: italic;
    color: black;
    padding: 0 10px;
    cursor: pointer;
}
.reg-text-box #login::after {
    content: "";
    width: 80px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 185px;
    height: 2px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .20s;
} 
.reg-text-box #login:hover {
    color: white;
}
.reg-text-box #login:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}
.reg-text-box #reg::after {
    content: "";
    width: 125px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 290px;
    height: 2px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .20s;
} 
.reg-text-box #reg:hover {
    color: white;
}
.reg-text-box #reg:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}
/*registration box input*/
.register-container .email-box {
    display: inline-block;
    position: relative;
}
/* Input email */
.email-box .input-email {
    position: absolute;
    left: 450px;
    bottom: 380px;
    padding: 5px;
    display: block;
}
.email-box .input-email [for=email]{
    position: absolute;
    bottom: 10px;
    left: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif Poppins;
    font-size: 23px;
    font-style: italic;
}
.input-email input[type=email] {
    position: absolute;
    left: 90px;
    width: 300px;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.input-email input[type=email]:focus{ 
    outline-color: black;
}
/* input password */
.register-container .pass-container {
    display: inline-block;
    position: relative;
}   
.pass-container .input-pass {
    position: absolute;
    bottom: 17em;
    left: 536px;
    display: block;
}
.input-pass [for=pass]{
    font-family: Verdana, Geneva, Tahoma, sans-serif Poppins;
    font-size: 23px;
    position: absolute;
    bottom: 40px;
    display: inline-block;
    font-style: italic;
}
.input-pass input[type=password]{
    display: inline-block;
    padding: 10px 10px;
    position: absolute;
    bottom: 1px;
    width: 300px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.input-pass input[type=password]:focus{
    outline-color: black;
}
.registration-container .con-pass-container {
    display: inline-block;
    position: relative;
}
.con-pass-container .input-con-pass {
    position: absolute;
    bottom: 15em;
    left: 540px;
}
.input-con-pass [for=con-pass]{
    font-family: Verdana, Geneva, Tahoma, sans-serif Poppins;
    font-style: italic;
    font-size: 23px;
    position: absolute;
    bottom: 30px;
}
.input-con-pass input[type=password]{
    cursor: pointer;
    width: 300px;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10px;
}
.input-con-pass input[type=password]:focus {
    outline-color:black;
}
.register-container .gender-container {
    position: relative;
    display: inline-block;
}
.gender-container .input-rad-male-box {
    width: 70px;
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 150px;
    border-radius: 5px;
    left: 540px;
    cursor: pointer;
}
.input-rad-male-box [for=male] {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.input-rad-male-box input[type=radio]{
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}
.gender-container .input-rad-female-box {
    width: 70px;
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 150px;
    border-radius: 5px;
    left: 650px;
    cursor: pointer;
}
.input-rad-female-box [for=female]{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.input-rad-female-box input[type=radio]{
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}
.register-container .submit-box{
    position: absolute;
    bottom: 110px;
    left: 570px;
    padding: 5px;
}
.submit-box input[type=submit] {
    width: 250px;
    padding: 10px 10px;
    background-color: white;
    position: absolute;
    top: -21px;
    border: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 15px;
}
