*{
    margin: 0;
    padding: 0;
}
.header-container {
    background-color: #C0C0C0;
    position: relative;
    box-shadow: 2px 5px 10px #89CFF0;
    height: 4.2em;
}
.header-container .content {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.content h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: 	#50C878;
}
.header-container .navigation {
    position: absolute;
    bottom: 20px;
    left: 800px;
}
.navigation a {
    text-decoration: none;
    color: 	#50C878;
    padding: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.navigation a:hover {
    color: #F9F6EE;
}