*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-weight: bold;
}
.logo:hover{
    color: red;
}
.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: "";
    height: 2px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transform: scaleX(0);
    transform-origin: center;
    transition: .20s;
}
.navbar ul li:hover::after {
    transform-origin: center;
    transform: scaleX(1);
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}
.content h1 {
    font-size: 60px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content button {
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid red;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background-color: red;
    height: 100%;
    width: 0%;
    position: absolute; 
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
/* New Page CSS */
.blog-section{
    width: 100%;
}
.blog-section .section-content {
    width: 85%;
    margin: 20px auto;
}
.blog-section .section-content .slam-dunk-title {
    width: 60%;
    text-align: center;
    margin: auto;
}
.blog-section .section-content .slam-dunk-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif Calibri;
    color: red;
}
.blog-section .section-content .slam-dunk-title p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif Calibri;
    color: white;
    margin-top: 20px;
}
.blog-section .section-content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;

}
/* Card 1 */
.blog-section .section-content .cards .card {
    width: 100%;
    position: relative;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.blog-section .section-content .cards .card img {
    width: 100%;
    height: 250px;
}
.blog-section .section-content .cards .card .article {
    padding: 15px 20px;
}
.blog-section .section-content .cards .card .article h4 {
    font-size: 24px;
    color: red;
}
.blog-section .section-content .cards .card .article p {
    font-size: 14px;
    color: black;
    margin: 10px 0;
    font-family: Tahoma;
}
.blog-section .section-content .cards .card .blog-view {
    padding-bottom: 20px;
}
.blog-section .section-content .cards .card .blog-view a {
    text-decoration: none;
    display: inline-block;
    background-color: goldenrod;
    padding: 8px 15px;
    margin-left: 20px;
    color: black;
    border-radius: 20px;
}
.blog-section .section-content .cards .card .posted-date p {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inlin-block;
    background-color: goldenrod;
    padding: 6px 15px;
}
/* Card 2 */
.blog-section .section-content .cards .card2 {
    width: 100%;
    position: relative;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.blog-section .section-content .cards .card2 img {
    width: 100%;
    height: 250px;
}
.blog-section .section-content .cards .card2 .article {
    padding: 15px 20px;
}
.blog-section .section-content .cards .card2 .article h4 {
    font-size: 24px;
    color: red;
}
.blog-section .section-content .cards .card2 .article p {
    font-size: 14px;
    color: black;
    margin: 10px 0;
    font-family: Tahoma;
}
.blog-section .section-content .cards .card2 .blog-view {
    padding-bottom: 20px;
}
.blog-section .section-content .cards .card2 .blog-view a {
    text-decoration: none;
    display: inline-block;
    background-color: goldenrod;
    padding: 8px 15px;
    margin-left: 20px;
    color: black;
    border-radius: 20px;
}
.blog-section .section-content .cards .card2 .posted-date p {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inlin-block;
    background-color: goldenrod;
    padding: 6px 15px;
}
/* Card 3 */
.blog-section .section-content .cards .card3{
    width: 100%;
    position: relative;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.blog-section .section-content .cards .card3 img {
    width: 100%;
    height: 250px;
}
.blog-section .section-content .cards .card3 .article {
    padding: 15px 20px;
}
.blog-section .section-content .cards .card3 .article h4 {
    font-size: 24px;
    color: red;
}
.blog-section .section-content .cards .card3 .article p {
    font-size: 14px;
    color: black;
    margin: 10px 0;
    font-family: Tahoma;
}
.blog-section .section-content .cards .card3 .blog-view {
    padding-bottom: 20px;
}
.blog-section .section-content .cards .card3 .blog-view a {
    text-decoration: none;
    display: inline-block;
    background-color: goldenrod;
    padding: 8px 15px;
    margin-left: 20px;
    border-radius: 20px;
    color: black;
}
.blog-section .section-content .cards .card3 .posted-date p {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inlin-block;
    background-color: goldenrod;
    padding: 6px 15px;
}

@media screen and (max-width: 992px){
    .blog-section .section-content .cards {
        grid-template-columns: repeat(2 1fr);
    }
}
@media screen and (max-width: 768px){
    .blog-section .section-content .cards{
        grid-template-columns: 1fr;
    }
}
/* About us CSS */
.about-section{
    width: 100%;
}
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
.heading h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: red;
}
.heading p {
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
}
.container {
    width: 90%;
    margin-bottom: 100px;
    padding: 50px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img {
    max-width: 80%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content {
    flex: 1;
}
.about-content h2{
    font-size: 50px;
    margin-bottom: 15px;
    color: red;
}
.about-content p{
    font-size: 18px;
    line-height: 2.0;
    color: white;
}
.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover {
    background-color: black;
    color: white;
}
@media screen and (max-width: 768px){
    .heading {
        padding: 0 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
}