*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-weight: bold;
}
.logo:hover{
    color: red;
}
.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: "";
    height: 2px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transform: scaleX(0);
    transform-origin: center;
    transition: .40s;
}
.navbar ul li:hover::after {
    transform-origin: center;
    transform: scaleX(1);
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}
.content h1 {
    font-size: 60px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content button {
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid red;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background-color: red;
    height: 100%;
    width: 0%;
    position: absolute; 
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
/* New Page CSS */
.blog-section{
    width: 100%;
}
.blog-section .section-content {
    width: 85%;
    margin: 20px auto;
}
.blog-section .section-content .slam-dunk-title {
    width: 60%;
    text-align: center;
    margin: auto;
}
.blog-section .section-content .slam-dunk-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif Calibri;
    color: red;
}
.blog-section .section-content .slam-dunk-title p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif Calibri;
    color: black;
    margin-top: 20px;
}
.blog-section .section-content .cards {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}
.blog-section .section-content .cards .card {
    width: 50%;
    background-color: lightgray;
    position: relative;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.blog-section .section-content .cards .card img {
    width: 100%;
    height: 250px;
}
.blog-section .section-content .cards .card .article {
    padding: 15px 20px;
}
.blog-section .section-content .cards .card .article h4 {
    font-size: 24px;
    color: red;
}
.blog-section .section-content .cards .card .article p {
    font-size: 14px;
    color: black;
    margin: 10px 0;
    font-family: Tahoma;
}
.blog-section .section-content .cards .card .blog-view {
    padding-bottom: 20px;
}
.blog-section .section-content .cards .card .blog-view a {
    text-decoration: none;
    display: inline-block;
    background-color: goldenrod;
    padding: 8px 15px;
    margin-left: 20px;
    color: black;
}
.blog-section .section-content .cards .card .blog-view p {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inlin-block;
    background-color: goldenrod;
    padding: 6px 15px;
}
@media screen and (max-width: 992px){
    .blog-section .section-content .cards {
        grid-template-columns: repeat(2 1fr);
    }
}
@media screen and (max-width: 768px){
    .blog-section .section-content .cards{
        grid-template-columns: 1fr;
    }
}